@{
    Layout = null;
}
<!DOCTYPE html>
<html class="full-height">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Салон красоты</title>
    <link rel="stylesheet" href="~/Content/compiled.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <link href="~/Content/home.index.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark black">
            <div class="container">
                <a class="navbar-brand" style="width: 165px;" href="/"><img style="width: inherit;height: inherit;" src="/img/story.png"></a>
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon gold-color"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect waves-light gold-color" href="/Home/Index">
                                О салоне <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light gold-color" href="/Home/Services">Услуги</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light gold-color" href="/Home/Photos">Фото</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light gold-color" href="/Home/Contacts">Контакты</a>
                        </li>
                    </ul><ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light gold-color">
                                <i class="fa fa-vk fa-lg"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light gold-color">
                                <i class="fa fa-facebook fa-lg"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light gold-color">
                                <i class="fa fa-instagram fa-lg"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light gold-color">
                                <i class="fa fa-paper-plane fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="view intro-2" style="">
            <div class="full-bg-img">
                <div class="mask rgba-black-slight flex-center">
                    <div class="container text-center white-text wow fadeInUp animated " style="visibility: visible; animation-name: fadeInUp;">
                        <h1 class="black-text">Добро пожаловать в салон красоты "STORY". </h1>
                        <br>
                        <p class="black-text">Наш салон - место, где мечта становится реальностью, а реальность обретает новые краски. </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="text-center my-5">
        <div class="container mb-5">
            <h2>О нас</h2>
            <div>
                В нашем салоне красоты работают специалисты высокого класса. Профессионализм наших мастеров подтвержден сертификатами. У нас помогут вам найти подходящий, идеальный стиль. Сделают красивыми и современными.<br>
                <br>
                Салон красоты использует в работе высокие технологии и современные материалы. Приятная уютная обстановка и приветливый внимательный коллектив постарается сделать всё, чтобы посещение салона доставило вам удовольствие.<br>
                <br>
                Мы используем для лечения и ухода за волосами самую крутую продукцию. А так же для защиты окрашенных волос и увеличение объема. В салоне мы поможем вам подобрать подходящую прическу и укладку. Сделаем красивые причёски для свадьбы, стрижки для женщин и мужчин. У нас широкий спектр услуг по окрашиванию волос (мелирование, блондирование). Специалисты нашего салона красоты качественно выполнят маникюр и педикюр. Мы оказываем так же косметологические услуги (пилинги, контурная пластика, аппаратная косметологи)
            </div>
        </div>
        <div class="container mb-5">
            <h2>Контакты</h2>
            <div class="row mb-4 mt-5">
                <div class="col-lg-5 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-header back-black-color gold-color accent-1">
                                <h3>
                                    <i class="fa fa-envelope"></i> Напишите нам!
                                </h3>
                            </div>
                            <p>Мы перезвоним вам через 25 секунд</p>
                            <div class="col-md-auto mb-4">
                                <div class="md-form">
                                    <input type="text" id="form-name" class="form-control" required>
                                    <label for="form-name">Ваше имя</label>
                                </div>
                                <div class="md-form">
                                    <input type="tel" id="form-phone" class="form-control" required>
                                    <label for="form-phone">Телефон</label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn back-black-color gold-color" id="sendMessage">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div id="map-container" class="rounded z-depth-1-half map-container" style="height: 400px; position: relative; overflow: hidden;">
                        <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae3739abb0d066d97c1a5c0127244b7aef4cb721b06ff44b6e4d3de64303a7c44&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
                        </div>
                    </div>
                    <br />
                    <div class="row text-center">
                        <div class="col-md-4">
                            <a class="btn-floating back-black-color accent-1 waves-effect waves-light">
                                <i class="fa fa-envelope gold-color"></i>
                            </a>
                            <p>yetisergey@gmail.com</p>
                        </div>
                        <div class="col-md-4">
                            <a class="btn-floating back-black-color accent-1 waves-effect waves-light">
                                <i class="fa fa-map gold-color"></i>
                            </a>
                            <p>430005, Коммунистическая 62/91</p>
                        </div>
                        <div class="col-md-4">
                            <a class="btn-floating back-black-color accent-1 waves-effect waves-light">
                                <i class="fa fa-phone gold-color"></i>
                            </a>
                            <p>Телефон: 88345115165</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="~/Scripts/jquery-2.0.0.min.js"></script>
    <script src="~/Scripts/compiled.min.js"></script>
    <script src="~/Scripts/app/home.index.js"></script>
</body>
</html>